/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== sidebar.css ====================================================
  == Styles used by the Sidebar panel and Sidebar tabs.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
  
#sidebar-box {
  border-left: 1px solid ThreeDShadow;
  border-right: 1px solid ThreeDHighlight;
  background-color: AppWorkspace;
}

/* ::::: sidebar header ::::: */

#sidebar-panel-picker:not(:-moz-lwtheme) {
  /* would override hover/active styles, so let lwtheme do it in its own way */
  color: inherit;
}

#sidebar-panel-picker > .toolbarbutton-dropmarker {
  padding: 0 2px;
  list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif");
}

/* ::::: sidebar panel ::::: */

.sidebar-iframe-no-panels,
.loadarea {
  background-color: -moz-Field;
  color: -moz-FieldText;
}

.iframe-panel, .browser-sidebar {
/*  border-top: 1px solid ThreeDHighlight;*/
  border-left: 1px solid ThreeDHighlight;
  border-bottom: 1px solid ThreeDShadow;
  border-right: 1px solid ThreeDShadow;
}  

/* ::::: loading info ::::: */

.text-panel-loading {
  margin: 5px 0px;
}

.text-panel-loading[loading="false"] {
  margin-inline-start: 11px;
}

.image-panel-loading {
  margin: 5px;
  list-style-image: url("chrome://communicator/skin/icons/loading.gif");
}

/* ::::: sidebar tabs ::::: */

.box-texttab {
  -moz-binding: url("chrome://netscapesidebar/skin/sidebar/sidebarBindings.xml#sbtab");
  -moz-box-align: center;
  background-color: -moz-Dialog;
  color: -moz-DialogText;
}

.box-texttab:-moz-lwtheme {
  text-shadow: none;
}

.box-texttab {
  -moz-appearance: tab;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-inline-start: 0px;
  padding-inline-end: 1px;
}

.sbtab-label {
  margin: 0px !important;
}

.sbtab-twisty {
  margin: 0px 7px;
  list-style-image: url("chrome://netscapesidebar/skin/sidebar/sbtab-twisty.gif");
}

.sbtab-twisty[selected="true"] {
  list-style-image: url("chrome://netscapesidebar/skin/sidebar/sbtab-twisty-open.gif");
}

/* ::::: sidebar navigation buttons ::::: */

.sidebar-nav-button {
  -moz-binding: url("chrome://global/content/bindings/toolbarbutton.xml#toolbarbutton-image");
  padding: 5px 0px;
}

.tab-fwd {
  list-style-image: url("chrome://global/skin/arrow/arrow-up.gif");
}

.tab-back {
  list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif");
}

.bookmark-item#toggle-sidebar-button .toolbarbutton-text, toolbar:not(.toolbar-primary) #toggle-sidebar-button .toolbarbutton-text {
	display: none !important;
}

.bookmark-item#toggle-sidebar-button .toolbarbutton-icon, toolbar:not(.toolbar-primary) #toggle-sidebar-button .toolbarbutton-icon {
	padding: 0 !important;
}

.bookmark-item#toggle-sidebar-button, toolbar:not(.toolbar-primary) #toggle-sidebar-button {
	padding: 3px !important;
	min-width: 0 !important;
}

#toggle-sidebar-button {
	list-style-image: url('chrome://netscapesidebar/skin/sidebar/open-sidebar.png');
	-moz-image-region: initial;
}

#toggle-sidebar-button[sidebaropen="true"] {
	list-style-image: url('chrome://netscapesidebar/skin/sidebar/close-sidebar.png');
}

#sidebar-panel-picker {
	font-weight: normal;
}
